<!-- Display all written articels -->
<!-- Will refactor code from line 2-4 to the '/partials' -->
<% if (messages.error) { %>
    <%= messages.error %> 
<% } %>

<div class="index-container">
    <nav>
        <h1>Melli's Blog</h1>
        <!-- Have the write icon -->
    </nav>

    <div class="latest-article">
        <img src="<%= articles[0].imagePath %>">
    </div>


    <% for( let article = 1; article < articles.length; article++ ) { %>
        <h3><%=articles[article].title%></h3>
        <%=articles[article].createdAt.toLocaleDateString()%>
        <br>
        <p><%=articles[article].description%></p>
        <a href="/articles/<%= articles[article].slug%>">Read More</a>
        <% if (currentUser === 'Admin') { %>
            <a href="/articles/edit/<%= articles[article].id%>">Edit</a>
            <form action="/articles/<%= articles[article].id%>?_method=Delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        <% } %>
    </div>
    <% } %>
    
</div>



  