<!-- Display all written articels -->
<!-- Will refactor code from line 2-4 to the '/partials' -->
<% if (messages.error) { %>
    <%= messages.error %> 
<% } %>

<% articles.forEach(article => {%>
    <div>
        <h3><%=article.title%></h3>
        <%=article.createdAt.toLocaleDateString()%>
        <br>
        <p><%=article.description%></p>
        <a href="/articles/<%= article.slug%>">Read More</a>
        <% if (currentUser === 'Admin') { %>
            <a href="/articles/edit/<%= article.id%>">Edit</a>
            <form action="/articles/<%=article.id%>?_method=Delete" method="POST">
                <button type="submit">Delete</button>
            </form>
        <% } %>
    </div>
<% }) %>

  